@import '../../bower_components/font-awesome-sass/assets/stylesheets/_font-awesome.scss';
@import '../../bower_components/font-awesome-sass/assets/stylesheets/_font-awesome-sprockets.scss';
@import 'source/_variables.scss';
@import 'source/_mixins.scss';
body {
  color: $grey-800;
  .md-toolbar-tools {
    padding: 20px;
  }
  md-toolbar {
    h1,
    h2,
    h3,
    h4,
    i {
      color: #fff;
    }
  }
  .content-layout {
    height: calc(100vh - 64px);
    .barra-lateral {
      background-color: $grey-50;
      height: 100%;
      .perfil {}
      .menu {
        ul {
          margin: 0px;
          padding: 0px;
          width: 100%;
          li {
            i {
              padding-right: 10px;
            }
            background-color: $grey-50;
            padding: 15px 20px;
            color: $grey-800;
            cursor: pointer;
            @include transition-property(background-color, fill);
            @include transition-duration(.6s);
            @include transition-timing-function(cubic-bezier(.35, 0, .25, 1));
          }
          li:hover {
            background-color: $grey-200;
            @include transition-property(background-color, fill);
            @include transition-duration(.6s);
            @include transition-timing-function(cubic-bezier(.35, 0, .25, 1));
          }
          li:focus {
            outline: 0px;
          }
        }
      }
    }
  }
  .container {
    background-color: $grey-100;
    margin: 0px;
    padding: 0px;
    .contenido {
      background-color: #fff;
      margin: 20px;
      padding: 10px 20px;
      width: 100%;
      .titulo {
        margin-bottom: 20px;
      }
    }
  }
  .sing-out {
    padding-left: 20px;
  }
  .active {
    background-color: $grey-200 !important;
  }
  .fa-2x {
    font-size: 22px;
  }
  .right {
    float: right;
  }
  .text-right {
    text-align: right;
  }
}