<!DOCTYPE html>
<html lang="es">

<head>
  <title>Sistema EPS</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
  <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/angular-ui-grid/ui-grid.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/angular-material-datetimepicker/css/material-datetimepicker.min.css">


  <link href="//cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-colorpicker/3.0.25/css/colorpicker.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css">

  <link href="app/css/style.css" rel="stylesheet">

</head>

<body ng-app="Eps">
  <div>

    <md-toolbar md-theme="eps-green">
      <div class="md-toolbar-tools" layout-sm="column" layout-gt-sm="row">
        <h1 flex="20">Usuario</h1>
        <div flex class="titulo" layout="row">
          <i class="fa {{pageIcon}} fa-2x" aria-hidden="true"></i> </i>
          <h1>{{pageTitle}}</h1>
        </div>
        <span flex></span>
        <h3>Fecha</h3>
        <a href="#" class="sing-out"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
      </div>
    </md-toolbar>

    <div layout-sm="column" layout-gt-sm="row" class="content-layout">
      <div flex="20" class="barra-lateral" ng-controller="Index as vm">
        <div class="perfil">
        </div>
        <div class="menu">
          <ul>
            <li ng-class="{active: currentPage=='inicio'}" ng-click="vm.go('')"><i class="fa fa-home fa-2x" aria-hidden="true"></i>Inicio</li>
            <li ng-class="{active: currentPage=='pacientes'}" ng-click="vm.go('pacientes')"><i class="fa fa-users fa-2x" aria-hidden="true"></i>Pacientes</li>
            <li ng-class="{active: currentPage=='doctores'}" ng-click="vm.go('profesionales')"><i class="fa fa-user-md fa-2x" aria-hidden="true"></i>Profesionales</li>
            <li ng-click="vm.go('consultas')"><i class="fa fa-tasks fa-2x" aria-hidden="true"></i>Consultas Hoy</li>
            <li ng-class="{active: currentPage=='citas_medicas'}" ng-click="vm.go('citas_medicas')"><i class="fa fa-calendar fa-2x" aria-hidden="true"></i>Citas Médicas</li>
            <li ng-click="vm.go('pacientes')"><i class="fa fa-cog fa-2x" aria-hidden="true"></i>Administración</li>
          </ul>
        </div>
      </div>

      <div flex="80" layout="row" class="container">
        <div flex ng-view layout="row">
        </div>
      </div>

    </div>

  </div>
  <!--footer-->

  <!--librerias scripts-->
  <!--/*<script src="bower_components/jquery/dist/jquery.min.js"></script>*/-->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>

  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-material/angular-material.min.js"></script>
  <script src="bower_components/angular-messages/angular-messages.min.js"></script>
  <script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>
  <script src="bower_components/moment/min/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.4/interact.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-colorpicker/3.0.25/js/bootstrap-colorpicker-module.min.js"></script>
  <script src="bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>
  <script src="bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
  <script src="bower_components/angular-material-datetimepicker/js/angular-material-datetimepicker.min.js"></script>
  <script src="bower_components/angular-cookie/angular-cookie.min.js"></script>
  <script src="bower_components/ng-token-auth/dist/ng-token-auth.min.js"></script>
  <script src="bower_components/ng-token-auth/dist/ng-token-auth.min.js"></script>


  <!--/*<script src="app/build/js/app.js"></script>*/-->
  <script src="app/js/app.js"></script>
  <script src="app/js/routes.js"></script>
  <script src="app/js/build/controllers.js"></script>
  <script src="app/js/build/services.js"></script>
  <script src="app/js/helpers.js"></script>

</body>

</html>