<div class="contenido">
  <div layout="column" class="pasientes">
    <div flex class="titulo" layout="row">
      <i class="fa {{pageIcon}} fa-3x" aria-hidden="true"></i> </i>
      <h1>{{pageTitle}}</h1>
    </div>
    <hr>
    <div>
      <form name="profesionalAdd" md-theme="eps-green" novalidate>
        <h5 class="subtitle">INFORMACIÓN BÁSICA</h5>
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Nombres</label>
            <input ng-model="proAdd.profesional.name" name="name" required>
            <div ng-messages="profesionalAdd.name.$error">
              <div ng-message="required">Este campo es requerido.</div>
            </div>
          </md-input-container>

          <!--<md-input-container class="md-block" flex-gt-xs>
            <label>Segundo nombre</label>
            <input ng-model="proAdd.profesional.segundoNombre" name="segundoNombre" required>
            <div ng-messages="profesionalAdd.segundoNombre.$error">
              <div ng-message="required">Este campo es requerido.</div>
            </div>
          </md-input-container>-->

          <md-input-container class="md-block" flex-gt-xs>
            <label>Apellidos</label>
            <input ng-model="proAdd.profesional.last_name" name="last_name" required>
            <div ng-messages="profesionalAdd.last_name.$error">
              <div ng-message="required">Este campo es requerido.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-xs>
            <label>E-mail</label>
            <input ng-model="proAdd.profesional.email" name="email" type="email" required>
            <div ng-messages="profesionalAdd.email.$error">
              <div ng-message="required">Este campo es requerido.</div>
            </div>
          </md-input-container>

          <!--<md-input-container class="md-block" flex-gt-xs>
            <label>Segundo apellido</label>
            <input ng-model="proAdd.profesional.segundoApellido" name="segundoApellido" required>
            <div ng-messages="profesionalAdd.segundoApellido.$error">
              <div ng-message="required">Este campo es requerido.</div>
            </div>
          </md-input-container>-->
        </div>

        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Documento</label>
            <input ng-model="proAdd.profesional.document" required>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-xs>
            <label>Fecha de nacimiento</label>
            <md-datepicker ng-model="proAdd.profesional.birthdate" value="{{proAdd.profesional.birthdate}}" required></md-datepicker>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-xs>
            <label>Sexo</label>
            <md-select name="gender" ng-model="proAdd.profesional.gender" required>
              <md-option value="F">Femenino</md-option>
              <md-option value="M">Masculino</md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-xs>
            <label>Celular</label>
            <input ng-model="proAdd.profesional.phone" required>
          </md-input-container>
        </div>

        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Tarjeta Profesional</label>
            <input ng-model="proAdd.profesional.medical_license" required>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-xs>
            <label>Especialidad</label>
            <md-select name="speciality" ng-model="proAdd.profesional.speciality" required>
              <md-option ng-repeat="eps in proAdd.especialidades" value="eps.name" >{{eps.name}}</md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-xs>
            <label>Consultorio</label>
            <input ng-model="proAdd.profesional.consultorio" type="number" required>
          </md-input-container>
        </div>

        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Días laborales</label>
            <md-select ng-model="proAdd.profesional.worked_days" multiple>
              <md-optgroup label="Dias laborales">
                <md-option ng-value="dia" ng-repeat="dia in proAdd.dias">{{dia}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Hora Fnicio</label>
            <input mdc-datetime-picker="Hora inicio" date="false" time="true" type="text" id="time" short-time="true" placeholder="Time" min-date="minDate" format="hh:mm a" ng-model="proAdd.profesional.startsAt" class=" md-input">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Hora Fin</label>
            <input mdc-datetime-picker="Hora fin" date="false" time="true" type="text" id="time" short-time="true" placeholder="Time" min-date="minDate" format="hh:mm a" ng-model="proAdd.profesional.endsAt" class=" md-input">
          </md-input-container>



        </div>

        <div layout-gt-xs="row">
          <md-button ng-click="proAdd.save(profesionalAdd)" class="md-primary md-raised md-hue-2">Guardar</md-button>
        </div>



      </form>
    </div>
  </div>
</div>