<div class="contenido">
  <div layout="column" class="pasientes">
    <div flex class="titulo" layout="row">
      <i class="fa {{pageIcon}} fa-3x" aria-hidden="true"></i> </i>
      <h1>{{pageTitle}}</h1>
    </div>
    <hr>
    <div>
      <form name="pacienteAdd" md-theme="eps-green" novalidate>
        <h5 class="subtitle">INFORMACIÓN BÁSICA DEL PACIENTE</h5>
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Nombres</label>
            <input ng-model="padd.patient.name" name="name" required>
            <div ng-messages="pacienteAdd.name.$error">
              <div ng-message="required">Este campo es requerido.</div>
            </div>
          </md-input-container>

          <!--<md-input-container class="md-block" flex-gt-xs>
            <label>Segundo nombre</label>
            <input ng-model="padd.patient.segundoNombre" name="segundoNombre" required>
            <div ng-messages="pacienteAdd.segundoNombre.$error">
              <div ng-message="required">Este campo es requerido.</div>
            </div>
          </md-input-container>-->

          <md-input-container class="md-block" flex-gt-xs>
            <label>Apellidos</label>
            <input ng-model="padd.patient.last_name" name="last_name" required>
            <div ng-messages="pacienteAdd.last_name.$error">
              <div ng-message="required">Este campo es requerido.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-xs>
            <label>E-mail</label>
            <input ng-model="padd.patient.email" name="email" type="email" required>
            <div ng-messages="pacienteAdd.email.$error">
              <div ng-message="required">Este campo es requerido.</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Documento</label>
            <input ng-model="padd.patient.document" required>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-xs>
            <label>Cumpleaños</label>
            <md-datepicker ng-model="padd.patient.birthdate" value="{{padd.patient.birthdate}}" required></md-datepicker>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-xs>
            <label>Estado civil</label>
            <md-select name="civil_status" ng-model="padd.patient.additional_information_user.civil_status" required>
              <md-option value="casado">Casado/a</md-option>
              <md-option value="comprometido">Comprometido/a</md-option>
              <md-option value="soltero">Soltero/a</md-option>
              <md-option value="divorciado">Divorciado/a</md-option>
              <md-option value="viudo">Viudo/a</md-option>
            </md-select>
            <!--<md-input-container class="md-block" flex-gt-xs>
            <label>Segundo nombre</label>
            <input ng-model="padd.patient.segundoNombre" name="segundoNombre" required>
            <div ng-messages="pacienteAdd.segundoNombre.$error">
              <div ng-message="required">Este campo es requerido.</div>
            </div>
          </md-input-container>-->
          </md-input-container>

          <md-input-container class="md-block" flex-gt-xs>
            <label>Sexo</label>
            <md-select name="gender" ng-model="padd.patient.gender" required>
              <md-option value="F">Femenino</md-option>
              <md-option value="M">Masculino</md-option>
            </md-select>
          </md-input-container>
        </div>

        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Lugar de Nacimeinto</label>
            <input ng-model="padd.patient.additional_information_user.place_of_birth" required ng-change="padd.patient.additional_information_user.place_of_birth=padd.patient.additional_information_user.place_of_birth.toUpperCase();">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-xs>
            <label>Dirección</label>
            <input ng-model="padd.patient.additional_information_user.address" ng-change="padd.patient.additional_information_user.address=padd.patient.additional_information_user.address.toUpperCase();" required>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-xs>
            <label>Ciudad</label>
            <input ng-model="padd.patient.additional_information_user.city" ng-change="padd.patient.city=padd.patient.additional_information_user.city.toUpperCase();" required ng-change="padd.patient.city=padd.patient.additional_information_user.city.toUpperCase();">
          </md-input-container>
        </div>
        <div layout-gt-xs="row">

          <md-input-container class="md-block" flex-gt-xs>
            <label>Municipio</label>
            <input ng-model="padd.patient.additional_information_user.municipality" ng-change="padd.patient.additional_information_user.municipality=padd.patient.additional_information_user.municipality.toUpperCase();">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-xs>
            <label>Departamento</label>
            <input ng-model="padd.patient.additional_information_user.state" ng-change="padd.patient.additional_information_user.state=padd.patient.additional_information_user.state.toUpperCase();">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-xs>
            <label>Teléfono</label>
            <input ng-model="padd.patient.phone">
          </md-input-container>
        </div>

        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Celular</label>
            <input ng-model="padd.patient.additional_information_user.cellphone">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-xs>
            <label>Grado de Educación</label>
            <md-select name="education_level" ng-model="padd.patient.additional_information_user.education_level" required>
              <md-option value="Primaria">Básica primaria</md-option>
              <md-option value="Secundaria">Básica secundaria</md-option>
              <md-option value="Universitaria">Universitario</md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-xs>
            <label>Ocupación</label>
            <input ng-model="padd.patient.additional_information_user.occupation" required ng-change="padd.patient.additional_information_user.occupation=padd.patient.additional_information_user.occupation.toUpperCase();">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-xs>
            <label>Grupo sanguíneo</label>
            <md-select name="blood_type" ng-model="padd.patient.additional_information_user.blood_type" required>
              <md-option value="O-">O-</md-option>
              <md-option value="O+">O+</md-option>
              <md-option value="A-">A-</md-option>
              <md-option value="A+">A+</md-option>
              <md-option value="B-">B-</md-option>
              <md-option value="B+">B+</md-option>
              <md-option value="AB-">AB-</md-option>
              <md-option value="AB+">AB+</md-option>
            </md-select>
          </md-input-container>
        </div>

        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Vive con:</label>
            <input ng-model="padd.patient.additional_information_user.live_with">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs>
            <label>Religión</label>
            <input ng-model="padd.patient.additional_information_user.religion">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs>
            <label>Acompañante</label>
            <input ng-model="padd.patient.additional_information_user.companion" ng-change="padd.patient.additional_information_user.companion=padd.patient.additional_information_user.companion.toUpperCase();">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-xs>
            <label>Pertenencia Etnica</label>
            <input ng-model="padd.patient.additional_information_user.ethnicity" ng-change="padd.patient.additional_information_user.ethnicity=padd.patient.additional_information_user.ethnicity.toUpperCase();">
          </md-input-container>
        </div>

        <h5 class="subtitle">INFORMACIÓN DEL ACUDIENTE</h5>

        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>No. Documento</label>
            <input ng-model="padd.patient.attendants.document" type="number">
          </md-input-container>

          <!--<md-input-container class="md-block" flex-gt-xs>
            <label>Lugar Expedición</label>
            <input ng-model="padd.patient.attendants.lugarExpedicion">
          </md-input-container>-->

          <md-input-container class="md-block" flex-gt-xs>
            <label>Nombre del Acudiente</label>
            <input ng-model="padd.patient.attendants.name">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-xs>
            <label>Dirección</label>
            <input ng-model="padd.patient.attendants.address">
          </md-input-container>
        </div>

        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Parentesco o cargo</label>
            <input ng-model="padd.patient.attendants.relationship">
          </md-input-container>

          <!--<md-input-container class="md-block" flex-gt-xs>
            <label>Institución Responsable</label>
            <input ng-model="padd.patient.attendants.institucion">
          </md-input-container>-->

          <md-input-container class="md-block" flex-gt-xs>
            <label>Teléfono</label>
            <input ng-model="padd.patient.attendants.phone" type="number">
          </md-input-container>
        </div>

        <h5 class="subtitle">ASEGURAMIENTO SOCIAL</h5>

        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>Entidad</label>
            <input ng-model="padd.patient.social.entidad">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-xs>
            <label>Tipo Afiliación</label>
            <input ng-model="padd.patient.social.afiliacion">
          </md-input-container>
        </div>
        <div layout-gt-xs="row">

          <md-input-container class="md-block" flex-gt-xs>
            <label>Nivel de Usuario</label>
            <input ng-model="padd.patient.social.nivel">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-xs>
            <label>No Carnet</label>
            <input ng-model="padd.patient.social.carnet">
          </md-input-container>
        </div>
        <div class="div-horizontal"> </div>

        <div layout-gt-xs="row" layout-aling="center center">
          <md-button type="submit" ng-click="padd.save(pacienteAdd)" class="md-primary md-raised md-hue-2">Guardar</md-button>
        </div>
        <!--<md-input-container class="md-block" flex-gt-xs>
            <label>Segundo nombre</label>
            <input ng-model="padd.patient.segundoNombre" name="segundoNombre" required>
            <div ng-messages="pacienteAdd.segundoNombre.$error">
              <div ng-message="required">Este campo es requerido.</div>
            </div>
          </md-input-container>-->

      </form>
    </div>
  </div>
</div>