<div class="contenido">
  <div layout="column" class="pasientes" md-theme="eps-green">
    <div flex class="titulo" layout="row">
      <i class="fa {{pageIcon}} fa-3x" aria-hidden="true"> </i>
      <h1>{{pageTitle}}</h1>
      <div flex></div>

      <md-button class="md-icon-button" aria-label="Editar paciente" ng-click="ci.liberar()">
        <md-icon class="fa fa-refresh fa-2x"></md-icon>
        <md-tooltip md-direction="top">Liberar paciente</md-tooltip>
      </md-button>
    </div>
    <div ng-if="ci.patient">
      <br/>
      <h3>Paciente</h3>
      <br/>
      <br/>
      <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Nombres</label>
          <input ng-model="ci.patient.name" disabled>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Apellidos</label>
          <input ng-model="ci.patient.last_name" disabled>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Documento</label>
          <input ng-model="ci.patient.document" disabled>
        </md-input-container>
      </div>
    </div>
    <form ng-if="ci.patient">
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Especialidad</label>
          <md-select name="speciality" ng-model="ci.cita.speciality" required>
            <md-option ng-repeat="eps in ci.especialidades" value="{{eps.name}}">{{eps.name}}</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Profesional</label>
          <md-select name="doctor_id" ng-model="ci.cita.doctor_id" required>
            <md-option ng-repeat="pro in ci.profesionals" ng-value="pro.id">{{pro.user.name}} {{pro.user.last_name}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm layout-align="end center">
          <md-checkbox ng-model="ci.cita.valuation" aria-label="Checkbox 1">
            Valoración
          </md-checkbox>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">

        <md-input-container class="md-block" flex-gt-sm>
          <label>Fecha de Cita</label>
          <md-datepicker ng-model="ci.date_cite" md-placeholder="Enter date"></md-datepicker>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Hora Inicio</label>
          <input mdc-datetime-picker="Hora inicio" date="false" time="true" type="text" id="time" short-time="true" placeholder="Time" min-date="minDate" format="hh:mm a" ng-model="ci.date_cite" class=" md-input">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm ng-hide="true">
          <label>Fecha de Cita</label>
          <md-datepicker ng-model="ci.end_cite" md-placeholder="Enter date" ng-hide="true"></md-datepicker>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Hora Fin</label>
          <input mdc-datetime-picker="Hora fin" date="false" time="true" type="text" id="time" short-time="true" placeholder="Time" min-date="minDate" format="hh:mm a" ng-model="ci.end_cite" class=" md-input">
        </md-input-container>
      </div>


      <div layout-gt-xs="row">
        <md-button ng-click="ci.add()" class="md-primary md-raised md-hue-2">Guardar cita</md-button>
      </div>
    </form>
    <br/>
    <div class="div-horizontal"> </div>

    <h3>Estado de la Agenda <span>- Paciente: {{ci.patient.name}} {{ci.patient.last_name}}</span></h3>
    <br />
    <!--<h2 class="text-center">{{ ci.calendarTitle }}</h2>-->
    <h2 class="text-center">{{ ci.calendarTitle }}</h2>
    <div layout-gt-sm="row">
      <div flex-gt-sm layout="row" layout-align="start center">
        <md-button class="md-primary" mwl-date-modifier date="ci.viewDate" decrement="ci.calendarView" ng-click="ci.cellIsOpen = false">
          Anterior
        </md-button>
        <md-button class="md-primary" mwl-date-modifier date="ci.viewDate" set-to-today ng-click="ci.cellIsOpen = false">
          Hoy
        </md-button>
        <md-button class="md-primary" mwl-date-modifier date="ci.viewDate" increment="ci.calendarView" ng-click="ci.cellIsOpen = false">
          Siguiente
        </md-button>
      </div>
      <div flex-gt-sm layout="row" layout-align="end center">
        <md-button class="md-primary" ng-model="ci.calendarView" uib-btn-radio="'year'" ng-click="ci.cellIsOpen = false">Año</md-button>
        <md-button class="md-primary" ng-model="ci.calendarView" uib-btn-radio="'month'" ng-click="ci.cellIsOpen = false">Mes</md-button>
        <md-button class="md-primary" ng-model="ci.calendarView" uib-btn-radio="'week'" ng-click="ci.cellIsOpen = false">Semana</md-button>
        <md-button class="md-primary" ng-model="ci.calendarView" uib-btn-radio="'day'" ng-click="ci.cellIsOpen = false">Día</md-button>
      </div>
    </div>

    <br>

    <mwl-calendar events="ci.cites" view="ci.calendarView" view-title="ci.calendarTitle" view-date="ci.viewDate" on-event-times-changed="ci.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
       day-view-start="05:00" day-view-end="21:00" day-view-split="30" cell-modifier="ci.modifyCell(calendarCell)" on-timespan-click="ci.timespanClicked(calendarDate, calendarCell)">
    </mwl-calendar>


  </div>
</div>