<div class="contenido">
  <div layout="column" class="pasientes" md-theme="eps-green">
    <div flex class="titulo" layout="row">
      <i class="fa fa-calendar-plus-o fa-3x" aria-hidden="true"> </i>
      <h1>Nueva Cíta {{rol}}</h1>
    </div>
    <form ng-if="rol == 1">
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Especialidad</label>
          <md-select name="especialidad" ng-model="ci.especialidad" required>
            <md-option><em>None</em></md-option>
            <md-option value="psi">Psicología</md-option>
            <md-option value="fono">Fono-Audiología</md-option>
            <md-option value="teo">Terapia ocupacional</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
          <label>Profesional</label>
          <md-select name="profesional" ng-model="ci.profesional" required>
            <md-option><em>None</em></md-option>
            <md-option value="psi">Psicología</md-option>
            <md-option value="fono">Fono-Audiología</md-option>
            <md-option value="teo">Terapia ocupacional</md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm layout-align="end center">
          <md-checkbox ng-model="ci.cita.valoracion" aria-label="Checkbox 1">
            Valoración
          </md-checkbox>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">

        <md-input-container class="md-block" flex-gt-sm>
          <label>Fecha de Cita</label>
          <md-datepicker ng-model="ci.cita.startsAt" md-placeholder="Enter date"></md-datepicker>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Hora Fnicio</label>
          <input mdc-datetime-picker="Hora inicio" date="false" time="true" type="text" id="time" short-time="true" placeholder="Time" min-date="minDate" format="hh:mm a" ng-model="ci.cita.startsAt" class=" md-input">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Hora Fin</label>
          <input mdc-datetime-picker="Hora fin" date="false" time="true" type="text" id="time" short-time="true" placeholder="Time" min-date="minDate" format="hh:mm a" ng-model="ci.cita.endsAt" class=" md-input">
        </md-input-container>
      </div>


      <div layout-gt-xs="row">
        <md-button ng-click="ci.add()" class="md-primary md-raised md-hue-2">Guardar cita</md-button>
      </div>
    </form>
    <br/>
    <div class="div-horizontal"> </div>

    <h3>Estado de la Agenda</h3>
    <br />
    <!--<h2 class="text-center">{{ ci.calendarTitle }}</h2>-->
    <div layout-gt-sm="row">
      <div flex-gt-sm layout="row" layout-align="start center">
        <md-button class="md-primary" mwl-date-modifier date="ci.viewDate" decrement="ci.calendarView" ng-click="ci.cellIsOpen = false">
          Anterior
        </md-button>
        <md-button class="md-primary" mwl-date-modifier date="ci.viewDate" set-to-today ng-click="ci.cellIsOpen = false">
          Hoy
        </md-button>
        <md-button class="md-primary" mwl-date-modifier date="ci.viewDate" increment="ci.calendarView" ng-click="ci.cellIsOpen = false">
          Siguiente
        </md-button>
      </div>
      <div flex-gt-sm layout="row" layout-align="end center">
        <md-button class="md-primary" ng-model="ci.calendarView" uib-btn-radio="'year'" ng-click="ci.cellIsOpen = false">Año</md-button>
        <md-button class="md-primary" ng-model="ci.calendarView" uib-btn-radio="'month'" ng-click="ci.cellIsOpen = false">Mes</md-button>
        <md-button class="md-primary" ng-model="ci.calendarView" uib-btn-radio="'week'" ng-click="ci.cellIsOpen = false">Semana</md-button>
        <md-button class="md-primary" ng-model="ci.calendarView" uib-btn-radio="'day'" ng-click="ci.cellIsOpen = false">Día</md-button>
      </div>
    </div>

    <br>

    <mwl-calendar events="ci.events" view="ci.calendarView" view-title="ci.calendarTitle" view-date="ci.viewDate" on-event-click="ci.eventClicked(calendarEvent)" on-event-times-changed="ci.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
      cell-is-open="ci.cellIsOpen" day-view-start="07:00" day-view-end="17:00" day-view-split="30" cell-modifier="ci.modifyCell(calendarCell)" cell-auto-open-disabled="true" on-timespan-click="ci.timespanClicked(calendarDate, calendarCell)">
    </mwl-calendar>


  </div>
</div>