<div class="contenido">
  <div layout="column" class="pasientes">
    <div flex class="titulo" layout="row">
      <i class="fa fa-user-md fa-3x" aria-hidden="true"> </i>
      <h1>Profesionales</h1>
    </div>

    <div flex class="listado">
      <div layout="column">
        <div>
          <md-switch ng-model="pro.seleccionable" aria-label="Switch Seleccionable" class="right">
            Editable{{pro.selec}}
          </md-switch>
        </div>
      </div>

      <div layout-gt-sm="row">
        <div flex>
          <md-input-container class="md-block search" flex-gt-xs md-theme="eps-green">
            <label>Buscar</label>
            <input ng-model="pro.filterValue">
          </md-input-container>
        </div>
        <div class="text-right" flex>
          <md-button class="md-icon-button" aria-label="Añadir paciente" ng-click="pro.goAdd()">
            <md-icon class="fa fa-user-plus fa-2x"></md-icon>
            <md-tooltip md-direction="top">Registrar Profesional</md-tooltip>
          </md-button>
          <md-button class="md-icon-button" aria-label="Editar paciente" ng-click="pro.go('addProfesional')">
            <md-icon class="fa fa-pencil fa-2x"></md-icon>
            <md-tooltip md-direction="top">Editar datos</md-tooltip>
          </md-button>
        </div>
      </div>
      <div id="grid1" ui-grid="pro.gridOptions" ui-grid-selection ui-grid-pagination ui-grid-cellNav class="grid"></div>
      <div layout-gt-sm="row" class="paginador">
        <div>
          <md-button class="md-icon-button" aria-label="Página Anterior" ng-click="pro.gridApi.pagination.previousPage()">
            <md-icon class="fa fa-arrow-left fa-2x"></md-icon>
            <md-tooltip>Página anterior</md-tooltip>
          </md-button>
          <md-button class="md-icon-button" aria-label="Página Siguiente" ng-click="pro.gridApi.pagination. nextPage()">
            <md-icon class="fa fa-arrow-right fa-2x"></md-icon>
            <md-tooltip>Página siguiente</md-tooltip>
          </md-button>
        </div>
        <div>
          <p>Página: {{ pro.gridApi.pagination.getPage() }} de {{ pro.gridApi.pagination.getTotalPages() }}</p>
        </div>
      </div>
    </div>
  </div>
</div>